<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Registro de Productos</title>
</head>
<body>
	<h1>Registro de Productos</h1>

	<form action="#"
		th:action="@{/product/register}"
		th:object="${product}"
		method="post">

		<input placeholder="Nombre" type="text" th:field="*{name}">
		<input placeholder="Descripción" type="text" th:field="*{description}">
		<input placeholder="Precio" type="text" th:field="*{price}">
		<input placeholder="Almacén" type="number" th:field="*{stock}">
		<input placeholder="Código de barras" type="text" th:field="*{upc}">
		<button type="submit">Registrar</button>

	</form>
</body>
</html>
