<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Address Details</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<a class="btn btn-secondary w-10" th:href="@{/user/all}" role="button">Regresar</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Calle</th>
							<th>Colonia</th>
							<th>Número exterior</th>
							<th>Número interior</th>
							<th>Estado</th>
							<th>Código Postal</th>
						</tr>
					</thead>
					<tbody>
						<tr th:object="${address}">
							<td th:text="*{street}"></td>
							<td th:text="*{district}"></td>
							<td th:text="*{externalNumber}"></td>
							<td th:text="*{internalNumber}"></td>
							<td th:text="*{state}"></td>
							<td th:text="*{zipCode}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
