<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Registro de Usuarios</title>
</head>
<body>
	<h1>Dirección</h1>

	<form action="#"
		th:action="@{/address/register}"
		th:object="${address}"
		method="post">

		<input hidden="true" type="text" th:field="${user.id}">
		<input placeholder="Calle" type="text" th:field="*{street}">
		<input placeholder="Colonia" type="text" th:field="*{district}">
		<input placeholder="Número Exterior" type="text" th:field="*{externalNumber}">
		<input placeholder="Número Interior" type="text" th:field="*{internalNumber}">
		<input placeholder="Estado" type="text" th:field="*{state}">
		<input placeholder="Código Postal" type="text" th:field="*{zipCode}">
		<button type="submit">Registrar</button>

	</form>
</body>
</html>
