<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Venta</title>
	<link rel="stylesheet" type="text/css" href="/css/sale.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/saleScript.js}"></script>
</head>
<body>
	<div>
		<h1>Venta</h1>
		<h3>Productos</h3>
	</div>
	<div>
		<h3>Buscar Producto</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody id="selectedProducts">
			</tbody>
		</table>
	</div>
	<div>
		<a th:href="@{/login/home}"><button>Menú Principal</button></a>
		<a th:href="@{/payment}"><button>Siguiente</button></a>
	</div>
	<div>
		<input placeholder="Nombre" type="text" id="name" name="name">
		<input placeholder="UPC" type="text" id="upc" name="upc">
		<button th:onclick="'searchProduct('+${sale.id}+')'" type="submit">Buscar</button>
	</div>
	<div>
		<h3>Productos Encontrados</h3>
		<table>		
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Precio</th>
					<th>Stock</th>
					<th>UPC</th>
					<th>Asignar</th> 
				</tr>
			</thead>
			<tbody id="products">
			</tbody>
		</table>
	</div>
</body>
</html>
