<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Venta</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/saleScript.js}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<form th:object="${sale}" th:action="@{/sale/total}" method="post">
					<input id="idSale" hidden="true" th:field="*{id}">
					<input hidden="true" th:field="*{date}">
					<a class="btn btn-secondary w-10" th:href="@{/login/home}" role="button">Regresar</a>
					<button type="submit" class="btn btn-primary w-10">Pagar</button>
				</form>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<div class="form-inline">
					<div class="form-group">
						<label for="name" class="sr-only">Email</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
					</div>
					<div class="form-group mx-sm-3">
						<label for="upc" class="sr-only">Password</label>
						<input type="text" class="form-control" id="upc" name="upc" placeholder="UPC">
					</div>
					<button id="searchProduct" type="submit" class="btn btn-info w-10">Buscar</button>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<h2>Productos encontrados</h2>
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Descripción</th>
							<th scope="col">Precio</th>
							<th scope="col">Stock</th>
							<th scope="col">UPC</th>
							<th scope="col">Asignar</th> 
						</tr>
					</thead>
					<tbody id="products">
					</tbody>
				</table>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-10">
				<h2>Productos seleccionados</h2>
				<table class="table table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Descripción</th>
							<th scope="col">Precio</th>
							<th scope="col">Quantity</th>
						<tr>
					</thead>
					<tbody id="selectedProducts">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
