<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/sale/register}" th:object="${sale}">
		<input hidden="true" th:field="*{id}">
		<input hidden="true" th:field="*{date}">
		<input hidden="true" th:field="*{total}">
		<input hidden="true" th:field="*{payment}">
		<button type="submit">Pagar</button>
		<p th:text="#{home.welcome}">Welcome to our grocery store!</p>
	</form>
</body>
</html>