<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<form action="#" th:action="@{/login/authenticate}" th:object="${user}" method="post">
		Usuario:
		<input type="text" th:field="*{userName}"><br />
		Contraseña:
		<input type="password" th:field="*{password}"><br />
		<button type="submit">Ingresar</button><br />
	</form>
	<a th:href="@{/user/newForm}"><button>Crear cuenta</button></a>
</body>
</html>
